<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Address</title>
<div th:insert="common.html :: source"></div>
</head>
<body>
	<div th:insert="common.html :: navigation"></div>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Add address</h1>
			</div>
		</div>
	</header>

	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row">
				<div class="form-group">
					<div class="mx-auto col-sm-6">
						<div class="card">
							<div class="card-header">
								<h4 class="mb-0">Add address</h4>
							</div>
							<div class="card-body">
								<div class="alert alert-danger alert-dismissible" th:if="${err} != null">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									<strong th:text="${err}"></strong>
								</div>
								<form th:action="@{/address/add}" method="POST" th:object="${address}" class="was-validated">
									<div class="form-group row">
										<label for="receiver" class="col-lg-3 col-form-label form-control-label">Receiver:</label>
										<div class="col-lg-9">
											<input type="text" id="receiver" th:field="*{receiver}" class="form-control" required>
										</div>
									</div>
									<br>
									<div class="form-group row">
										<label for="phone" class="col-lg-3 col-form-label form-control-label">Phone:</label>
										<div class="col-lg-9">
											<input type="tel" id="phone" th:field="*{phone}" class="form-control" pattern="[0-9]{8}" maxlength="8" required>
										</div>
									</div>
									<br>
									<div class="form-group row">
										<label for="area" class="col-lg-3 col-form-label form-control-label">Area:</label>
										<div class="col-lg-9">
											<select id="area" name="area" th:field="*{area}" class="form-control">
												<option th:value="'Hong Kong Island'">Hong Kong Island</option>
												<option th:value="'Kowloon'">Kowloon</option>
												<option th:value="'New Territories'">New Territories</option>
											</select>
										</div>
									</div>
									<br>
									<div class="form-group row">
										<label for="address" class="col-lg-3 col-form-label form-control-label">Address:</label>

										<div class="col-lg-9">
											<input type="text" id="address" th:field="*{address}" class="form-control" required>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col text-center">
											<input type="submit" class="btn btn-outline-secondary" value="Submit" />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:insert="common.html :: footer"></div>
</body>
</html>