<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cart</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>

	<div th:insert="common.html :: navigation"></div>

	<!-- Section-->
	<section class="py-5">
		<div class="container px-5 px-lg-5 mt-5" th:unless="${empty == null}">
			<h1 class="text-center" th:text="${empty}"></h1>
		</div>
		<div class="container px-5 px-lg-5 mt-5 " th:if="${empty == null}">
			<table class="table table-hover">
				<thead class="bg-dark text-white">
					<tr>
						<th>Product photo</th>
						<th>Product name</th>
						<th>quantity</th>
						<th>cost</th>
						<th>buy it</th>
						<th>delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart: ${carts}">
						<td>
							<a th:href="@{/products/{id}(id=${cart.productId})}">
								<img th:src="@{${cart.photo}}" class="img-thumbnail" width="200" height="200">
							</a>
						</td>
						<td th:text="${cart.productName}"></td>
						<td>
							<div class="form-group">
								<form th:action="@{/cart/update/}" th:object="${cart}" method="POST" th:id="${cart.cartId}" th:onclick="submitform([[${cart.cartId}]])">
									<input type="hidden" th:value="${cart.cartId}" name="cartId">
									<input type="hidden" th:value="${cart.productId}" name="productId">
									<input type="number" class="form-control" th:value="${cart.quantity}" name="quantity" th:min="1" th:max="${cart.stock}">
								</form>
							</div>
						</td>
						<td th:text="${cart.cost}"></td>
						<td>
							<a th:href="@{/order/add/{id}(id=${cart.cartId})}" class="btn btn-outline-secondary" role="button">Buy it</a>
						<td>
							<a th:href="@{/cart/delete/{id}(id=${cart.cartId})}" onclick="return confirm('Are you sure?')">
								<i class="fas fa-user-minus"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="fw-bolder">
				<div class="row">
					<div class="col text-center">
						<h2>
							Total: <span th:text="${total}"></span>
						</h2>
						<a th:href="@{/order/add}" class="btn btn-outline-secondary" role="button">
							<h2>Buy All</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		function submitform(cartId) {
			document.getElementById(cartId).submit();
		}
	</script>
	<!-- Footer-->
	<div th:insert="common.html :: footer"></div>
	<!-- Bootstrap core JS-->
	<div th:insert="common.html :: script"></div>
</body>
</html>