<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create product</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>
	<div th:insert="common.html :: navigation"></div>
	<!-- Header-->
	<div class="container px-4 px-lg-5 mt-5 mb-5">
		<div class="row">
			<div class="form-group">
				<div class="mx-auto col-sm-6">
					<div class="card">
						<div class="card-header">
							<h4 class="mb-0">Create product</h4>
						</div>
						<div class="card-body">
							<form th:action="@{/admin/product/create}" method="POST" th:object="${product}" enctype="multipart/form-data">
								<div class="form-group">
									<label for="productName" class="col-lg-3 col-form-label form-control-label">Product name:</label>
									<br>
									<input type="text" id="productName" name="productName" th:field="*{productName}" class="form-control" placeholder="Please input product name" required>
								</div>
								<br>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Category level1:</label>
									<select name="categoryId1" style='width: 250px' id="level1" class="form-control row" required>
										<option value="">Please select category level1</option>
										<option th:each="category1 : ${categories}" th:value="${category1.categoryId}" th:text="${category1.categoryName}"></option>
									</select>
								</div>
								<br>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Category level2 :</label>
									<select name="categoryId2" style='width: 250px' id="level2" class="form-control row" required>
										<option value="">Please select category level2</option>
									</select>
								</div>
								<br>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Category level3 :</label>
									<select name="categoryId" style='width: 250px' id="level3" class="form-control row" required>
										<option value="">Please select category level3</option>
									</select>
								</div>
								<div class="form-group row">
									<label for="stock" class="col-lg-3 col-form-label form-control-label">Stock:</label>
									<br>
									<input type="number" id="stock" name="stock" th:field="*{stock}" class="form-control" min="0" required>
								</div>
								<div class="form-group row">
									<label for="price" class="col-lg-3 col-form-label form-control-label">Price:</label>
									<br>
									<input type="number" id="price" name="price" th:field="*{price}" class="form-control" min="0" required>
								</div>
								<div class="form-group">
									<label for="photo" class="col-lg-3 col-form-label form-control-label">Photo:</label>
									<br>
									<input type="file" id="photo" name="image" accept="image/png, image/jpeg, image/jpg" class="form-control-file border">
								</div>
								<div class="form-group row">
									<label for="description" class="col-lg-3 col-form-label form-control-label">Description:</label>
									<br>
									<textarea id="description" name="description" th:field="*{description}" class="form-control" placeholder="Please input description"></textarea>
								</div>
								<div class="row">
									<div class="col text-center">
										<input type="submit" class="btn btn-outline-secondary" value="Submit" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="common.html :: footer"></div>
	<script type="text/javascript">
		//level2
		$("#level1").on(
				"change",
				function() {
					$("#level2 option").not(":first").remove();
					$.ajax({
						url : '/category/level2',
						data : {
							categoryId1 : $("#level1").val()
						},
						success : function(d) {
							if (d) {
								var data = d;
								for ( var i in data) {
									$("#level2:last").append(
											"<option value=" + data[i].categoryId + ">"
													+ data[i].categoryName
													+ "</option>")
								}
							} else {
								layer.msg("fail", {
									icon : 2,
									time : 2000
								})
							}
						}
					})
				});
		//level3
		$("#level2").on(
				"change",
				function() {
					$("#level3 option").not(":first").remove();
					$.ajax({
						url : '/category/level3',
						data : {
							categoryId2 : $("#level2").val()
						},
						success : function(d) {
							if (d) {
								var data = d;
								for ( var i in data) {
									$("#level3:last").append(
											"<option value=" + data[i].categoryId + ">"
													+ data[i].categoryName
													+ "</option>")
								}
							} else {
								layer.msg(d.msg, {
									icon : 2,
									time : 2000
								});
							}
						}
					})
				});
	</script>
</body>
</html>