<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Spring boot with Mybatis</title>
<div th:insert="common.html :: source"></div>
</head>
<body>
	<!-- Navigation-->
	<div th:insert="common.html :: navigation"></div>
	<div class="col text-center">
	<h1>Error is happened!</h1>
	</div>
	<!-- Footer-->
	<div th:insert="common.html :: footer"></div>
</body>
</html>