<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>
	<div th:insert="common.html :: navigation"></div>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">User list</h1>
			</div>
		</div>
	</header>
	<p>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container px-4 px-lg-5">
				<div class="nav-item">
					<a th:href="@{/register}" class="btn btn-outline-secondary" role="button"> Create user </a>
				</div>
				<form class="d-flex" method="GET" th:action="@{/admin/user/search/}">
					<input class="form-control me-2" type="text" name="name" placeholder="Search name or email" style='width: 200px' required>
					<button class="btn btn-outline-secondary" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</nav>
		<p>
		<p>
			Total user(s): <span th:text="${page.Total}"></span>
		</p>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>name</th>
					<th>password</th>
					<th>gender</th>
					<th>email</th>
					<th>role</th>
					<th>update</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
					<td th:text="${user.userName}">user name</td>
					<td th:text="${user.password}">password</td>
					<td th:text="${user.gender}">gender</td>
					<td th:text="${user.email}">email</td>
					<td th:text="${user.role}">role</td>
					<td>
						<a th:href="@{/users/update/{id}(id=${user.userId})}">
							<i class="far fa-edit"></i>
						</a>
					</td>
					<td>
						<a th:href="@{/admin/user/delete/{id}(id=${user.userId})}" onclick="return confirm('Are you sure?')">
							<i class="fas fa-user-minus"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:insert="common.html :: page"></div>
	</div>

	<div th:insert="common.html :: footer"></div>
</body>
</html>