<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Login</h1>
			</div>
		</div>
	</header>

	<div class="container px-4 px-lg-5 mt-5 mb-5">
		<div class="row">
			<div class="form-group">
				<div class="mx-auto col-sm-6">
					<div class="card">
						<div class="card-header">
							<h4 class="mb-0">Login</h4>
						</div>
						<div class="card-body">
							<div class="alert alert-danger alert-dismissible" th:if="${err} != null">
								<strong th:text="${err}"></strong>
							</div>
							<form th:action="@{/login}" method="POST" class="form was-validated" role="form">
								<div class="form-group row">
									<label for="NameOrEmail" class="col-lg-3 col-form-label form-control-label">Name or email:</label>
									<div class="col-lg-9">
										<input type="text" id="NameOrEmail" name="userNameOrEmail" class="form-control" required>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="password" class="col-lg-3 col-form-label form-control-label">Password:</label>
									<div class="col-lg-9">
										<input type="password" id="password" name="password" class="form-control" required>
									</div>
								</div>
								<br>
								<div class="form-group">
									<label for="remember">Remember Me</label>
									<input type="checkbox" id="remember" name="remember-me">
								</div>
								<br>
								<div class="row">
									<div class="col text-center">
										<input type="submit" class="btn btn-outline-secondary" value="Login" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="common.html :: footer"></div>
</body>
</html>