<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Order</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>

	<div th:insert="common.html :: navigation"></div>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Order(s)</h1>
			</div>
		</div>
	</header>

	<div class="container">
		<p>
		<h4>
			Total order(s): <span th:text="${page.Total}"></span>
		</h4>
		<p>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Order Id</th>
					<th th:if="${session.role}=='admin'">User Id</th>
					<th>receiver</th>
					<th>phone</th>
					<th>address</th>
					<th>total</th>
					<th>delivery</th>
					<th>status</th>
					<th th:if="${session.role}=='admin'">delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order: ${orders}">
					<td>
						<a th:href="@{/order/{id}/(id=${order.orderId})}" th:text="${order.orderId}"></a>
					</td>
					<td th:if="${session.role}=='admin'">
						<a th:href="@{/admin/user/{id}(id=${order.userId})}" th:text="${order.userId}"></a>
					</td>
					<td th:text="${order.address.receiver}"></td>
					<td th:text="${order.address.phone}"></td>
					<td th:text="${order.address.address}"></td>
					<td th:text="${order.total}"></td>
					<td th:text="${#dates.format(order.delivery, 'yyyy-MM-dd')}"></td>
					<td sec:authorize="hasRole('ROLE_USER')">
						<span th:text="${order.status}"></span>
					</td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<div class="form-group">
							<form th:action="@{/admin/order/update}" method="POST">
								<input type="hidden" th:value="${order.orderId}" name="orderId">
								<select name="status" class="form-control" style="max-width: 10rem" th:value="${order.status}">
									<option th:selected="${order.status == 'processing'}" th:value="'processing'">processing</option>
									<option th:selected="${order.status == 'pending'}" th:value="'pending'">pending</option>
									<option th:selected="${order.status == 'completed'}" th:value="'completed'">completed</option>
								</select>
								<input type="submit" class="btn btn-outline-secondary" value="Submit">
							</form>
						</div>
					</td>
					<td th:if="${session.role}=='admin'">
						<a th:href="@{/admin/order/delete/{id}(id=${order.orderId})}" type="buttom">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div th:insert="common.html :: page"></div>
	</div>
	<div th:insert="common.html :: footer"></div>
</body>
</html>