<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Detail</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>

	<div th:insert="common.html :: navigation"></div>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Order detail</h1>
			</div>
		</div>
	</header>

	<div class="container">
		<p>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Product photo</th>
					<th>Product name</th>
					<th>quantity</th>
					<th>cost</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orderDetail: ${orderDetails}">
					<td>
						<a th:href="@{/products/{id}(id=${orderDetail.product.productId})}">
							<img th:src="@{${orderDetail.product.photo}}" class="img-thumbnail" width="200" height="200">
						</a>
					</td>
					<td th:text="${orderDetail.product.productName}"></td>
					<td th:text="${orderDetail.quantity}"></td>
					<td th:text="${orderDetail.cost}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:insert="common.html :: footer"></div>
</body>
</html>