<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Update user</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div th:insert="common.html :: source"></div>
</head>
<body>
	<div th:insert="common.html :: navigation"></div>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">
					Update <span th:text="${user.userName}"></span>
				</h1>
			</div>
		</div>
	</header>


	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#user">User Information</a></li>
		<li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#address">Address</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div id="user" class="container tab-pane active">
			<br>
			<div class="form-group">
				<div class="mx-auto col-sm-6">
					<div class="card">
						<div class="card-header">
							<h4 class="mb-0">Update user</h4>
						</div>
						<div class="card-body">
							<form th:action="@{/users/update/{id}(id=${user.userId})}" th:object="${user}" method="POST">
								<div class="form-group row" sec:authorize="hasRole('ROLE_ADMIN')">
									<label for="userName" class="col-lg-3 col-form-label form-control-label">User name:</label>
									<div class="col-lg-9">
										<input type="text" id="userName" name="userName" class="form-control" th:field="*{userName}" required>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="password" class="col-lg-3 col-form-label form-control-label">Password:</label>
									<div class="col-lg-9">
										<input type="password" id="password" name="password" class="form-control" onkeyup="validatePassword()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
											title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="pwd" class="col-lg-3 col-form-label form-control-label">Confirm password:</label>
									<div class="col-lg-9">
										<input type="password" id="confirm_password" name="confirm_password" class="form-control" onkeyup="validatePassword()" required>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="gender" class="col-lg-3 col-form-label form-control-label">Gender:</label>
									<div class="col-lg-9">
										<select id="gender" name="gender" class="form-control" style="max-width: 10rem" th:value="*{gender}">
											<option th:selected="${user.gender == 'male'}" th:value="'male'">male</option>
											<option th:selected="${user.gender == 'female'}" th:value="'female'">female</option>
										</select>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label for="email" class="col-lg-3 col-form-label form-control-label">Email:</label>
									<div class="col-lg-9">
										<input type="email" id="email" name="email" class="form-control" th:field="*{email}" required>
									</div>
								</div>
								<br>
								<div class="form-group row" sec:authorize="hasRole('ROLE_ADMIN')">
									<label for="role" class="col-lg-3 col-form-label form-control-label">Role:</label>
									<div class="col-lg-9">
										<select id="role" name="role" class="form-control" style="max-width: 10rem" th:value="*{role}">
											<option th:selected="*{role == 'ROLE_ADMIN'}" th:value="ROLE_ADMIN">Admin</option>
											<option th:selected="*{role == 'ROLE_USER'}" th:value="ROLE_USER">User</option>
										</select>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col text-center">
										<input type="submit" class="btn btn-outline-secondary" value="Update" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="address" class="container tab-pane fade">
			<br>
			<a th:href="@{/address/add}" class="btn btn-outline-secondary" role="button">Add new address</a>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Receiver</th>
						<th>Phone</th>
						<th>Address</th>
						<th>Default</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="address: ${multiaddress}">
						<td th:text="${address.receiver}">receiver</td>
						<td th:text="${address.phone}">phone</td>
						<td th:text="${address.area}+', '+${address.address}">address</td>
						<td>
							<form th:id="${address.addressId}" th:action="@{/address/default}" method="POST" th:onclick="submitform([[${address.addressId}]])">
								<input type="hidden" name="addressId" th:value="${address.addressId}">
								<input type="checkbox" name="isDefault" th:value="true" th:checked="${address.isDefault}" th:disabled="${address.isDefault}">
							</form>
						</td>
						<td>
							<a th:href="@{/address/update/{addressId}(addressId=${address.addressId})}">
								<i class="far fa-edit"></i>
							</a>
						</td>
						<td>
							<a th:href="@{/address/delete/{addressId}(addressId=${address.addressId})}" onclick="return confirm('Are you sure?')">
								<i class="fas fa-user-minus"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<br>
		</div>
	</div>
	<div th:insert="common.html :: footer"></div>
	<div th:insert="common.html :: autoSubmit"></div>
	<script type="text/javascript" th:inline="javascript">
		var password = document.getElementById("password");
		var cpassword = document.getElementById("confirm_password");

		function validatePassword() {
			if (password.value != cpassword.value) {
				cpassword.setCustomValidity("Passwords don't match");
			} else {
				cpassword.setCustomValidity('');
			}
		}
	</script>
</body>
</html>